<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../styles/index.css"/>
      

    </head>

    <body>
        <section>
            <header>
                <nav class="headernav">
                    <ul class="headerul">
                       
                        <li>
                            <img class="logos" src="../images/logo.png" alt="logo"/>
                        </li>
                        <li class="heading">
                            Welcome to shoppers Den
                        </li>
                        <li>
                            <img class="logos" src="../images/shopper.jpg" alt="shoperlogo"/>
                        </li>
                    </ul>
                </nav>          
            </header>
            <article>
                <nav class="verticalnav">
                    <ul class="verticalul">
                        <li>
                            <input type="text" name="search" class="searchfield"/>
        
                        </li>
                        <li>
                            <button type="button" id="books">Books </button>
                        </li>
                        <li>
                            <button type="button">Gifts</button>
                        </li>
                        <li>
                            <button type="button"> Clothing</button>
                        </li>
                        <li>
                            <button type="button">Sports</button>
                        </li>
                    </ul>
                </nav>
                <nav class="articlenav">
                    <ul class="articleul">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#account" id="accounts">Account</a>
                        </li>
                        <li>
                            <a href="#help">Help</a>
                        </li>
                    </ul>
                        
                    <div id= "display"></div>
                    
                    <!-- finish the form  -->
                    <form class="accountform">
                        <input type="text" placeholder="First Name" required/>
                        <input type="text" placeholder="Last Name" required/>
                        <input type="date"  required/>
                        <input  list="countrynames" required/>

                    </form>
                    <datalist id="countrynames">

                    </datalist>

                </nav>           
             
                    
              
            </article>
            <footer>                    
                <ul class="footerlink">
                    <li>
                        <a href="#regdis">RegDisclosures</a>
                    </li>
                    <li>
                        <a href="#hp">Hyper Policy</a>
                    </li>
                    <li>
                        <a href="Ps"> Statement Privacy</a>
                    </li>
                    <li>
                        <a href="#siteterm">Site term</a>
                    </li>
                    <li>
                        <a href="#sitemap">Map Site</a>
                    </li>
                </ul>
                

                <p class="copyright">
                    &#169;ShopersDen.com.
                    All rights reserved.
                </p>

               
                

            </footer>
        </section>
          <script type="text/javascript" src="../scripts/index.js"></script>
    </body>
</html>