<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../styles/index.css"/>

    </head>

    <body>
        <section>
            <header>
                <nav class="headernav">
                    <ul class="headerul">
                       
                        <li>
                            <img class="logos" src="../images/logo.png" alt="logo"/>
                        </li>
                        <li class="heading">
                            Welcome to shoppers Den
                        </li>
                        <li>
                            <img class="logos" src="../images/shopper.jpg" alt="shoperlogo"/>
                        </li>
                    </ul>
                </nav>          
            </header>
            <article>
                <nav class="verticalnav">
                    <ul class="verticalul">
                        <li>
                            <input type="text" name="search" class="searchfield"/>
        
                        </li>
                        <li>
                            <button type="button">Books </button>
                        </li>
                        <li>
                            <button type="button">Gifts</button>
                        </li>
                        <li>
                            <button type="button"> Clothing</button>
                        </li>
                        <li>
                            <button type="button">Sports</button>
                        </li>
                    </ul>
                </nav>
                <nav class="articlenav">
                    <ul class="articleul">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#account">Account</a>
                        </li>
                        <li>
                            <a href="#help">Help</a>
                        </li>
                    </ul>
                </nav>           

            </article>
            <footer>
                               
               <div class="col-md-12 footeraddress">
                    
                  
               </div>

                <p class="copyright">
                    &#169;ShopersDen.com
                </p>

               
                

            </footer>
        </section>

    </body>
</html>